<div [@routerTransition]>
    <app-page-header [heading]="'Forms'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">
        <div class="col-lg-6">

   <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
      <input type="text" class="fortextbox" name="emailid" placeholder="emailid" 
         formControlName="emailid">
      <br/>
      
      <input type="password" class="fortextbox" name="passwd" 
         placeholder="passwd" formControlName="passwd">
      <br/>
      
      <input type="submit" class="forsubmit" value="Log In">
   </form>
        </div>
<!--         <div class="col-lg-6">
            <h4>Disabled Form States</h4>

            <form role="form">

                <fieldset disabled="">

                    <div class="form-group">
                        <label for="disabledSelect">Disabled input</label>
                        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input" disabled="">
                    </div>

                    <div class="form-group">
                        <label for="disabledSelect">Disabled select menu</label>
                        <select id="disabledSelect" class="form-control">
                            <option>Disabled select</option>
                        </select>
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Disabled Checkbox
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary">Disabled Button</button>

                </fieldset>

            </form>
            <br>

            <h4>Form Validation</h4>

            <form role="form">

                <div class="form-group has-success">
                    <label class="form-control-label" for="inputSuccess">Input with success</label>
                    <input type="text" class="form-control form-control-success" id="inputSuccess">
                </div>

                <div class="form-group has-warning">
                    <label class="form-control-label" for="inputWarning">Input with warning</label>
                    <input type="text" class="form-control form-control-warning" id="inputWarning">
                </div>

                <div class="form-group has-danger">
                    <label class="form-control-label" for="inputError">Input with danger</label>
                    <input type="text" class="form-control form-control-danger" id="inputError">
                </div>

            </form>

            <h4>Input Groups</h4>

            <form role="form">

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
         
                    <input type="text" class="form-control" placeholder="Username">
                </div>

                <div class="form-group input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-eur"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Font Awesome Icon">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">$</span>
                    </div>
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="form-group input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>

            </form>

            <p>For complete documentation, please visit <a target="_blank" href="http://v4-alpha.getbootstrap.com/components/forms/">Bootstrap's Form Documentation</a>.</p>

        </div> -->
    </div>
    <p>
   Email entered is : {{emailid}}
</p>
    <!-- /.row -->
</div>
